

#blog h4{
    margin: 50px;
    top: 100px;
    text-align: center;
    
    
    

}

#blog .contenedor{
   
   display: flex;     
   justify-content:center;
   flex-wrap: wrap;
   
   
    
}

#blog article{
    
    
    margin: 0.1px;
    margin-top: 100px;
    margin-bottom: px;
    
}

#blog img{
    margin: 0;
    width: 100%;
    max-width: 500px;
    border-radius: 888px;
    
    
    
}

#perrin{
 
    width: 500px;
        
    
    
}

#gatin{
    
 
    width: 500px;
    
}

@media (min-width:1024px){
    
    
    #gatin{
        transform: translateY(550px)
    }
    
    #gatin h4{
        transform: translate(-500px, -300px);
        
    }
    
    #perrin h4{
        transform: translate(500px, -300px);
        
        
    }
    
    #bone
    {
        transform: translate(430px, 360px);
    }
    
    #bone2{
        
        transform: translate(-7px, -50px)
    }
    
    #bone3{
        
        transform: translate(430px, 550px)
        
    }
    
    
    
}

#bone{
    position:relative;
    bottom: 30px;
    left: 200px;
    max-width: 100%;
    width: 150px;
    
    
}

#bone2{
    
    margin: 0;
    border: 0;
    padding: 0;
    max-width: 100%;
    width: 150px;
}

#bone3{

    
    position:relative;;
    max-width: 100%;
    width: 150px;
    left: 200px;
    top:90px;
    
}

