
#bienvenido {
    position: relative;
    
}


#bienvenido .midBanner{
    display: block;
    width: 100%;
    height: 100px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%) translateY(-10%);
    background: #3DC38A ;
    text-align: center;
    padding: 18px;
    color: aliceblue;
      
}



